body {
    font-family: Arial, sans-serif;
    background-color: #f4e1d2;
    margin: 0;
    text-align: center;
}

.header {
    background-color: #ff7043;
    color: white;
    padding: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.navbar {
    background-color: #ffab91;
    padding: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #d84315;
    border-radius: 5px;
}

.container {
    width: 60%;
    margin: auto;
    padding: 20px 0;
}

.box {
    background: #ffccbc;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ff8a65;
    text-align: left;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.box h2 {
    color: #d84315;
    font-size: 20px;
}

.box hr {
    border: 0;
    height: 2px;
    background: #ff5722;
    width: 100%;
}

.footer {
    background-color: #d84315;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 14px;
}
